//Tipografia
$fonte-normal:"GandhiSansRegular";
$fonte-bold:"GandhiSansBold";

//Cores
$cor-do-texto: #d9d9d9;
$azul-escuro: #0477BF;
$azul-claro: #05C7F2;
$azul-rodape: #F2B705;
$rosa: #F2E205;
$roxo: #F2E205;
$cinza-claro: #ffffff;
$tag-color: rgba(255, 255, 255, 0.3);